@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(../assets/header.jpg);
  width: 100%;
  min-height: 45vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.8; */
  /* position: fixed; */
}

.header h1 {
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 50px;
  /* color: rgb(211, 139, 5); */
  color: #eee;
  padding-top: 120px;
}

.header p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* color: rgb(54, 2, 92); */
  color: #eee;
  font-weight: bold;
  padding-top: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.introduccion {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 20px;
}

#carouselExampleCaptions {
  margin-top: 30px;
}

.slider-h5,
.slider-p {
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.849);
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.849);
  padding-left: 10px;
  padding-right: 10px;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}

.content-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-top: 20px;
}

.card-body {
  text-align: center;
}


